<div id="navbar">
    <nav>
        <div id="logo">
            <a href="#"><img src="../img/logo.png" alt="logo"></a>
        </div>
        <ul id="nav-ul">
            <li><a class="nav-links" href="/#">Home</a></li>
            <li><a class="nav-links" href="/#featured-section">Featured</a></li>
            <li><a class="nav-links" href="/#about-section-location">About Us</a></li>
            <li><a class="nav-links" href="/#contact-section-location">Contact Us</a></li>
            <li><div id="xmark"><i class="fa-solid fa-xmark"></i></div></li>
            
        </ul>
        <div id="hamburger"><i class="fa-solid fa-bars"></i></div>

    </nav>
</div>